.custom-table td {
    font-size: 0.9rem; /* Decrease font size */
    padding: 0.25rem; /* Decrease padding */
  }
  
  /* Adjust the width of the columns */
  .custom-table td:first-child,
  .custom-table th:first-child {
    width:50px; 
  }
  
  .custom-table td:nth-child(2),
  .custom-table th:nth-child(2) {
    width: 90px; /* Adjust the width as needed */
  }
  
  /* Add more rules for other columns if needed */
  
  .container {
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  