.dashboard-container {
    display: flex;
  }
  
  .nav-links {
    width: 20%;
    background-color: black;
    height: auto;
  }
  
  .main-content {
    width: 100%;
    background-color: rgb(168, 250, 250);
  }
  